{% extends "layout/base.html"%}
{% block content %}

{% if err_msg%}
<div class="alert alert-danger">
  <h3>{{ err_msg }}</h3>
</div>
{% endif %}

<section class="h-100 ">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration my-4">
            <div class="row g-0">
              
            <form method = "post" action = "{{url_for('auth.user_register')}}" enctype = "multipart/form-data"> 
                <div class="card-body p-md-5 text-black">
                  <h3 class="mb-5 text-center text-uppercase">ĐĂNG KÍ TÀI KHOẢN</h3>
  
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div data-mdb-input-init class="form-outline form-group">
                        <label class="form-label" for="form3Example1m">Họ</label>
                        <input type="text" id="form3Example1m" class="form-control form-control-lg" name = "first_name" required/>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div data-mdb-input-init class="form-outline form-group">
                        <label class="form-label" for="form3Example1n">Tên</label>
                        <input type="text" id="form3Example1n" class="form-control form-control-lg" name = "last_name"required/>
                      </div>
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div data-mdb-input-init class="form-outline">
                        <label class="form-label" for="form3Example1m1">Tên người dùng</label>
                        <input type="text" id="form3Example1m1" class="form-control form-control-lg" name ="user_name" required/>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div data-mdb-input-init class="form-outline">
                        <label class="form-label" for="form3Example1m1">Email</label>
                        <input type="email" id="form3Example1m1" class="form-control form-control-lg" name ="email" required/>
                        
                      </div>
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div data-mdb-input-init class="form-outline">
                        <label class="form-label" for="password">Mật Khẩu</label>
                        <input type="password" id="password" class="form-control form-control-lg" name = "password" required/>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div data-mdb-input-init class="form-outline">
                        <label class="form-label" for="confirm">Xác nhận mật khẩu</label>
                        <input type="password" id="confirm" class="form-control form-control-lg" name = "confirm" required/>
                      </div>
                    </div>
                    
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div data-mdb-input-init class="form-outline">
                        <label class="form-label" for="dob">Ngày sinh</label>
                        <input type="date" id="dob" class="form-control form-control-lg" name="birth_day" required />
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div data-mdb-input-init class="form-outline">
                        <label class="form-label" for="form3Example1n1">Số điện thoại</label>
                        <input type="text" id="form3Example1n1" class="form-control form-control-lg" name = "phone_number" required/>
                      </div>
                    </div>
                  </div>
  

                  <div class="row">
                    
                    <div class="col-md-6 mb-4">
                      <div data-mdb-input-init class="form-outline">
                        <label class="form-label" for="form3Example1n1">Số bảo hiểm</label>
                        <input type="number" id="insurance-number" class="form-control form-control-lg" name = "insurance_number" />
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div data-mdb-input-init class="form-outline">
                        <label class="form-label" for="form3Example1n1">Hình ản</label>
                        <input type="file" id="image" class="form-control form-control-lg" name = "image" />
                      </div>
                    </div>

                  </div>


                  <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
  
                    <h6 class="mb-0 me-4">Giới tính: </h6>
  
                    <div class="form-check form-check-inline mb-0 me-4">
                      <input class="form-check-input" type="radio" name="gender" id="femaleGender"
                        value="Nữ" required/>
                      <label class="form-check-label" for="femaleGender">Nữ</label>
                    </div>
  
                    <div class="form-check form-check-inline mb-0 me-4">
                      <input class="form-check-input" type="radio" name="gender" id="maleGender"
                        value="Nam" />
                      <label class="form-check-label" for="maleGender">Nam</label>
                    </div>
  
                    <div class="form-check form-check-inline mb-0">
                      <input class="form-check-input" type="radio" name="gender" id="otherGender"
                        value="Khác" />
                      <label class="form-check-label" for="otherGender">Khác</label>
                    </div>
  
                  </div>
                  
                  
  
  
                  <div class="d-flex justify-content-end pt-3">
                    <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-light btn-lg">Reset all</button>
                    <input  type="submit" value = "Đăng kí" data-mdb-button-init data-mdb-ripple-init class="btn btn-warning btn-lg ms-2">
                  </div>
  
                </div>
              </form> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{%endblock%}
