{% extends "layout/base.html" %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_page.css') }}">
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/user.js') }}"></script>
{% endblock %}

{% block content%}

    <div class="container-fluid text-center">    
        <div class="container m-4">
            
            <div class="row">
                <div class="col-lg-3 ">
                    <div class="card left-profile-card">
                        <div id = "user-informations" class="card-body ">
                            <div class="text-center">
                                <img src="{{current_user.user.image}}" alt="" class="user-profile">
                                <h3>{{current_user.user.first_name}} {{current_user.user.last_name}}</h3>
                                <p>{{current_user.user.gender}}</p>
                                <p>{{current_user.user.birth_day}}</p>
                                <div class="d-flex align-items-center justify-content-center mb-3">
                                    <i class="fas fa-star text-info"></i>
                                    <i class="fas fa-star text-info"></i>
                                    <i class="fas fa-star text-info"></i>
                                    <i class="fas fa-star text-info"></i>
                                    <i class="fas fa-star text-info"></i>
                                </div>
                            </div>
                            <div class="personal-info container">
                                <h3>Personal Information</h3>
                                <ul class="personal-list">
                                    <!-- Email -->
                                    <li class="row align-items-center mb-3">
                                        <div class="col-2 text-center">
                                            <i class="bi bi-envelope-at"></i>
                                        </div>
                                        <div class="col-10 text-start">
                                            {{ current_user.user.email }}
                                        </div>
                                    </li>
                                    <!-- Phone -->
                                    <li class="row align-items-center">
                                        <div class="col-2 text-center">
                                            <i class="bi bi-telephone"></i>
                                        </div>
                                        {% if current_user.user.phone_numbers%}
                                        <div class="col-10 text-start">
                                            {{ current_user.user.phone_numbers[0].number }}
                                        </div>
                                        {%endif%}
                                    </li>
                                </ul>
                            </div>
                           
                            
                            <a type = "button" class="btn btn-small btn-block btn-success text-center d-flex justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#editUserModal">Edit</a>
                            {%if current_user.is_authenticated == false or current_user.user.role == "patient"%}
                            <a href="{{url_for('appointment.appointment_main')}}" class="btn btn-dark btn-bg btn-slide hover-slide-right mt-2 btn-block btn-success text-center d-flex justify-content-center align-items-center">
                                <span>Book Appointment</span>
                              </a>
                              {%endif%}
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">


                    <div class="container">
                        <div class="card">
                            <div class="card right-profile-card mb-0">
                                <div class="card-header alert-primary">
                                    <ul class="nav nav-pills" id="pills-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-selected="true">Work Experience</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="pills-education-tab" data-toggle="pill" href="#pills-education" role="tab" aria-selected="false">Education</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="pills-timeline-tab" data-toggle="pill" href="#pills-timeline" role="tab" aria-selected="false">Timeline</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="pills-document-tab" data-toggle="pill" href="#" role="tab" aria-selected="false">Document</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="pills-event-tab" data-toggle="pill" href="#" role="tab" aria-selected="false">Event</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="pills-tasks-tab" data-toggle="pill" href="#" role="tab" aria-selected="false">Tasks</a>
                                        </li>
                                    </ul>
                                </div>
                                
                                
                            </div> 

                        
                            <div class="card-body">
                                <div class="row">
                                        <div class="col-xl-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="row align-items-center">
                                                        <div class="table-responsive px-3">
                                                            {% if exam_registrations%}
                                                            <table class="table table-striped align-middle table-nowrap">
                                                                <tbody>
                                                                    {% for exam_regis in exam_registrations%}
                                                                    <tr>
                                                                        <td class = "document-image">
                                                                            <div class="avatar-lg me-4 immmmmmmm">
                                                                                <img src="{{ url_for('static', filename='img/888108.png') }}" class="img-fluid rounded " alt="">
                                                                            </div>
                                                                        </td>
                                                                        <td class = "text-start">
                                                                            <ul class="list-unstyled ps-0 mb-0">
                                                                                <li>
                                                                                    <p class="text-muted mb-1 text-truncate">
                                                                                        <i class="bi bi-alarm"></i>
                                                                                        {{exam_regis.start_time}} - {{exam_regis.end_time}}
                                                                                    </p>
                                                                                </li>
                                                                                <li>
                                                                                    <p class="text-muted mb-1 text-truncate">
                                                                                        <i class="bi bi-calendar"></i>
                                                                                        {{exam_regis.day}}
                                                                                    </p>
                                                                                </li>
                                                                                
                                                                            </ul>
                                                                        </td>
                                
                                                                        <td class = "text-start">
                                                                                <h6 >
                                                                                    <a href="ecommerce-product-detail.html" class="text-dark text-start">
                                                                                        Bác Sĩ: {{exam_regis.doctor_name}}
                                                                                    </a>
                                                                                </h6>
                                                                                
                                                                        </td>
                                
                                
                                                                        <td class = "text-start">
                                                                            {%if exam_regis.watting_status == true%}
                                                                            <p>Đang chờ</p>
                                                                            {%else%}
                                                                            <p>Hoàn thành</p>
                                                                            {%endif%}
                                                                            
                                                                        </td>
                                
                                                                        <td class = "text-start">
                                                                            {%if exam_regis.watting_status == true%}
                                                                            <i class="bi bi-hourglass"></i>
                                                                            {%else%}
                                                                            <i class="bi bi-check-square"></i>
                                                                            {%endif%}
                                                                            
                                                                        </td>
                                
            
                                
                                                                        
                                                                    </tr>
                                                                    {% endfor %}
        
                                
                                                                </tbody>
                                                            </table>
                                                            {%else%}
                                                            Chưa có  phiếu đăng kí nào
                                                            {%endif%}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>

                            <!-- phân trang -->
                            <nav aria-label="Page navigation" class="d-flex justify-content-center mt-4">
                                <ul class="pagination">
                                    <!-- Nút "Previous" -->
                                    {% if pagination.has_prev %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{ url_for('auth.user_page', page=pagination.prev_num) }}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    {% else %}
                                    <li class="page-item disabled">
                                        <span class="page-link" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </span>
                                    </li>
                                    {% endif %}
                                    
                                    <!-- Các số trang -->
                                    {% for page in pagination.iter_pages(left_edge=2, right_edge=2, left_current=1, right_current=1) %}
                                    {% if page %}
                                        {% if page == pagination.page %}
                                        <li class="page-item active" aria-current="page">
                                            <span class="page-link">{{ page }}</span>
                                        </li>
                                        {% else %}
                                        <li class="page-item">
                                            <a class="page-link" href="{{ url_for('auth.user_page', page=page) }}">{{ page }}</a>
                                        </li>
                                        {% endif %}
                                    {% else %}
                                    <li class="page-item disabled">
                                        <span class="page-link">...</span>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                    
                                    <!-- Nút "Next" -->
                                    {% if pagination.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{ url_for('auth.user_page', page=pagination.next_num) }}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                    {% else %}
                                    <li class="page-item disabled">
                                        <span class="page-link" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </span>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
  
                    </div>



                </div>


            </div>
        </div>
    </div>










    <div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editUserModalLabel">Cập Nhật Thông Tin</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editUserForm">
                        <div class="row">
                            <!-- User Name -->
                            <div class="col-md-6 mb-3">
                                <label for="username" class="form-label">Họ:</label>
                                <input type="text" id="Username" name="user_name" class="form-control" placeholder="Nhập username" value="{{ current_user.user_name}}">
                            </div>
                            <!-- Pass Word -->
                            <div class="col-md-6 mb-3">
                                <label for="password" class="form-label">Tên:</label>
                                <input type="text" id="Password" name="password" class="form-control" placeholder="Nhập password" value="{{ current_user.password }}">
                            </div>
                        </div>
                        <div class="row">
                            <!-- First Name -->
                            <div class="col-md-6 mb-3">
                                <label for="firstName" class="form-label">Họ:</label>
                                <input type="text" id="firstName" name="first_name" class="form-control" placeholder="Nhập họ" value="{{ current_user.user.first_name }}">
                            </div>
                            <!-- Last Name -->
                            <div class="col-md-6 mb-3">
                                <label for="lastName" class="form-label">Tên:</label>
                                <input type="text" id="lastName" name="last_name" class="form-control" placeholder="Nhập tên" value="{{ current_user.user.last_name }}">
                            </div>
                        </div>
                        <div class="row">
                            <!-- Email -->
                            <div class="col-md-6 mb-3">
                                <label for="email" class="form-label">Email:</label>
                                <input type="email" id="email" name="email" class="form-control" placeholder="Nhập email" value="{{ current_user.user.email }}">
                            </div>
                            <!-- Phone Number -->
                            <div class="col-md-6 mb-3">
                                <label for="phoneNumber" class="form-label">Số Điện Thoại:</label>
                                <input type="text" id="phoneNumber" name="phone_number" class="form-control" placeholder="Nhập số điện thoại" value="{{ current_user.user.phone_numbers[0].number if current_user.user.phone_numbers }}">
                            </div>
                        </div>
                        <div class="row">
                            <!-- Gender -->
                            <div class="col-md-6 mb-3">
                                <label for="gender" class="form-label">Giới Tính:</label>
                                <select id="gender" name="gender" class="form-select">
                                    <option value="Male" {% if current_user.user.gender == "Male" %}selected{% endif %}>Nam</option>
                                    <option value="Female" {% if current_user.user.gender == "Female" %}selected{% endif %}>Nữ</option>
                                    <option value="Other" {% if current_user.user.gender == "Other" %}selected{% endif %}>Khác</option>
                                </select>
                            </div>
                            <!-- Birth Date -->
                            <div class="col-md-6 mb-3">
                                <label for="birthDay" class="form-label">Ngày Sinh:</label>
                                <input type="date" id="birthDate" name="birth_day" class="form-control" value="{{ current_user.user.birth_day }}">
                            </div>
                        </div>
                        <!-- Profile Picture -->
                        <div class="mb-3">
                            <label for="image" class="form-label">Ảnh Đại Diện:</label>
                            <input type="file" id="profilePicture" name="image" class="form-control">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" id="saveChangesButton" class="btn btn-primary">Lưu Thay Đổi</button>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}