:root {
  
  --gradient-background: linear-gradient(120deg, #66a6ff 0%, #89f7fe 100%);
}

body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #999;
  line-height: 2;
  /* background-image: -webkit-linear-gradient(330deg, #66a6ff 0%, #89f7fe 100%);
  background-image: -o-linear-gradient(330deg, #66a6ff 0%, #89f7fe 100%);
  background-image: linear-gradient(120deg, #66a6ff 0%, #89f7fe 100%); */
}
/*Header======================================================*/
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #262626;
}
#billboard{
  background: url("../img/hero-bg.jpg") no-repeat center center;
            background-size: cover;
            height: 100vh;
            color: white;
}
/* Color of the navbar BEFORE scroll */
.navbar-scroll {
  background-color: #37517e;
  color : #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #262626;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
  background-color: #fff;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: auto;
  padding-bottom: auto;
}
.navbar-brand {
  font-size: unset;
  height: 3.5rem;
}

/*section bilboard======================================================*/

/*appointment=====================*/
@media (max-width: 767.98px) { 
  .border-sm-start-none { 
    border-left: none !important; 
  } 
}
/*=====================*/

/* bookAppointment =================================*/
.card-apponitment{
  width:400px;
  background-color:#fff;
  border:none;border-radius: 12px
}
label.radio{
  cursor: pointer;
  width: 100%
}
label.radio input{
  position: absolute;
  top: 0;left: 0;
  visibility: hidden;
  pointer-events: none
}
label.radio span{
  padding: 7px 14px;
  border: 2px solid #eee;
  display: inline-block;
  color: #039be5;
  border-radius: 10px;
  width: 100%;
  height: 48px;
  line-height: 27px
}
label.radio input:checked+span{
  border-color: #039BE5;
  background-color: #81D4FA;
  color: #fff;
  border-radius: 9px;
  height: 48px;
  line-height: 27px
}
.form-control{
  margin-top: 10px;
  height: 48px;
  border: 2px solid #eee;
  border-radius: 10px
}
.form-control:focus{
  box-shadow: none;
  border: 2px solid #039BE5
}
.agree-text{
  font-size: 12px
}
.terms{
  font-size: 12px;
  text-decoration: none;
  color: #039BE5
}
  .confirm-button{
    height: 50px;
    border-radius: 10px
  }
/*==============================================*/
/*pagination==========================================*/


.flex {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

 @media (max-width:991.98px) {
  .padding {
      padding: 1.5rem
  }
}

@media (max-width:767.98px) {
  .padding {
      padding: 1rem
  }
}




.pagination,
.jsgrid .jsgrid-pager {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem
}

.page-link {
  color: black
}

.pagination.pagination-rounded-flat .page-item {
  margin: 0 .25rem
} 


.pagination.pagination-rounded-flat .page-item .page-link, a {
 border: none;
 border-radius: 50px;
}

/*==============================================*/

/*sign up =======================================*/
.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
  }
  .card-registration .select-arrow {
  top: 13px;
  }
/*end sign up=============================*/

/*docter_detail==============================================*/
.gradient-custom {
  /* fallback for old browsers */
  background: #f6d365;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
  }
/*============================================*/
/*appoint_detail========================================*/
.panel.panel-default {
  border-top-width: 3px;
}
.panel {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);
  border: 0;
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 16px;
  background-color: #ffffff;
}
.thumb96 {
  width: 96px!important;
  height: 96px!important;
}
.thumb48 {
  width: 48px!important;
  height: 48px!important;
}
/*===========================================*/
.doctor-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.schedule-section h6 {
  font-weight: bold;
}

.schedule {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.time-slot {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 100px;
  text-align: center;
}

.clinic-info p {
  margin-bottom: 10px;
  font-size: 0.9rem;
}

button.btn-primary {
  margin-right: 10px;
}
/*=============================================mansfasaa=*/
/* modal add med  ==========================================*/
.row-hover:hover{
  --bs-table-bg: #888;
}
.add-modal{
  --bs-modal-width: 1230px !important;
}
/*==========================================*/
/*add med page======================================*/
.btn-med{
  height: auto !important;
}
/*==========================================*/
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Poppins", sans-serif;
  color: #000; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }

.text-black {
  color: #000; }

.content {
  padding: 5rem 0; }

h2 {
  font-size: 3.5rem;
  font-weight: 700; }

h3 {
  font-size: 2rem;
  font-weight: 700; }

.form-control {
  border: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px; }
  .form-control:active, .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000; }

.col-form-label {
  color: #000; }

.btn, .form-control {
  height: 55px; }

.heading {
  color: #888;
  letter-spacing: .05rem;
  text-transform: uppercase;
  font-weight: 400; }

.btn {
  color: #fff;
  border: none;
  border-radius: 4px !important;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1) !important; }
  .btn:hover {
    color: #fff; }
  .btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

.box {
  padding: 40px 70px;
  background: #fff;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2); }
  .box h3 {
    font-size: 14px;
    margin-bottom: 30px;
    text-align: center; }

label.error {
  font-size: 12px;
  color: red; }

#message {
  resize: vertical; }

#form-message-warning, #form-message-success {
  display: none; }

#form-message-warning {
  color: #B90B0B; }

#form-message-success {
  color: #55A44E;
  font-size: 18px;
  font-weight: bold;
  text-align: center; }

.submitting {
  text-align: center;
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-weight: bold;
  font-size: 12px;
  color: #000; }



#toast-container{
  position: fixed;
  /* background-color: red; */
  z-index: 999999999;
}
.toastt {
  min-width: 200px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  opacity: 0.9;
  animation: fadeInOut 4s ease forwards;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: block;
}

.toastt.success {
    background-color: #28a745; /* Màu xanh */
}

.toastt.error {
    background-color: #dc3545; /* Màu đỏ */
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    10%, 90% {
        opacity: 0.9;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}

/*trang history*/
.detail-exam-body {
  display: none; /* Ẩn mặc định */
  margin-top: 10px;
}

.detail-exam-body .row {
  margin-bottom: 10px;
}

#expan-icon {
  cursor: pointer;
}
.pagination {
  margin: 20px 0;
}

.pagination .page-item.disabled .page-link {
  color: #bbb;
  pointer-events: none;
}

.pagination .page-item.active .page-link {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
}
  
