{%extends "layout/base.html"%}
{% block extra_css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/appointment.css') }}">{% endblock %}
{%block content%}
<div class="container mt-5 mb-5">
    <div class="card doctor-card">
        <div class="row no-gutters">
            <div class="col-md-3">
                <img src="{{doctor.image}}" class="card-img" alt="Doctor Image">
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <h5 class="card-title">Bác sĩ Chuyên khoa I {{doctor.last_name}} {{doctor.first_name}}</h5>
                    <p class="card-text">{{doctor.experience}}</p>
                    <p class="card-text">Bác sĩ đang công tác tại {{doctor.current_workplace}}</p>
                    <p class="card-text">Bác sĩ nhận khám mọi lứa tuổi</p>
                    <p><i class="fas fa-map-marker-alt"></i> Hà Nội</p>
                    <a type="button" href = "{{url_for('doctor_user.doctor_detail')}}" class="btn btn-primary">Hồ sơ</a>
                    <a class="btn btn-primary">Chia sẻ</a>
                </div>
            </div>
        </div>


        <div class="schedule-section">

            <div class="schedule-section">

                <form method = "post" action = "{{url_for('appointment.book')}}" id="date-form">
    
    
                    <input type="hidden" id="doctor_id" name="doctor_id" value="{{ doctor.id }}">
    
                        <div class="schedule-section">
                            <label for="date-dropdown" class="me-2">Chọn ngày:</label>
                            <select id="date-dropdown" class="form-select mb-3" name="exam_day" onchange ="updateExamDayAndSubmit(this.value)">
                                {% for date in available_days%}
                                <option value="{{date}}" {% if date == selected_day %}selected{% endif %}>
                                    {{date.strftime('%d/%m/%Y')}}
                                </option>
                                {%endfor%}
                                    
                                </select>
                        </div>
                    
    
                </form>

            </div>




            <form method = "post" action = "{{url_for('appointment.appoint_detail')}}">


                <input type="hidden" id="doctor_id" name="doctor_id" value="{{ doctor.id }}">
                <input type="hidden" id="exam_time_id" name="exam_time_id" value="">
                <input type="hidden" id="exam_day" name="exam_day" value="{{ selected_day or today.date() }}">
                

                    <div class="schedule d-flex flex-wrap ">
                        {% for time in exam_times %}
    
                        <div class="col-2 mb-3 >">
                            <button type="button" class="btn w-100 time-slot {% if time.id in booked_time_ids or exam_time_status[time.id] == 'disabled' %}is-booked {%else%}btn-success{% endif %}" 
                                    onclick="document.getElementById('exam_time_id').value = '{{ time.id }}'; this.form.submit();"
                                    {% if time.id in booked_time_ids or exam_time_status[time.id] == 'disabled' %}disabled{% endif %}>
                                    {{time.start_time.strftime("%H:%M")}} - {{time.end_time.strftime("%H:%M")}}
                            </button>
                        </div>
                        {% endfor %}
                    </div>

            </form>

            
        </div>


        

        <div class="clinic-info mt-4">
            <p><strong>Địa chỉ khám:</strong> Phòng khám Đa khoa Mediplus, Tầng 2, Trung tâm thương mại Mandarin Garden 2, 99 phố Tân Mai, Tân Mai, Hoàng Mai, Hà Nội</p>
            <p><strong>Giá khám:</strong> 350.000đ</p>
            <p><strong>Loại bảo hiểm áp dụng:</strong> Xem chi tiết</p>
        </div>




        
    </div>
</div>
{% endblock%}